@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;    
    transition: 0.8s;
    text-shadow:0 2px 2px rgb(58, 53, 53); 
}
body{
    margin: 0;
    padding: 0 ; 
    /*background: linear-gradient(to bottom, rgb(89, 89, 216),tomato); */
    background-color: white;
    background-repeat:no-repeat;
    background-size: contain; 
    overflow-x: hidden;  
   }
/* copied from previous project */
nav{
    flex:2;
}
#logo img{
    width: 55px;
    height: 50px;
    font-size: 50px;
    padding-left: 0;
    margin-left: 0;
}
.cart{
    margin-right: 10px;
   }
header{
    width:90%;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;    
    background:linear-gradient(to right, rgb(73, 214, 73),rgb(223, 92, 74));
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;    
    border-radius: 10px; 
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
nav ul li{
    list-style: none;
}
.links{
    text-decoration: none;
    color: black;
    text-shadow:none; 
    padding: 3px 5px;
    border-radius: 10px;
    font-family: 'Signika', sans-serif ; 
}
/* copied over */
.grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    margin-top: 20px;
    margin-bottom: 18px;
    padding-left:345px;    
   }
.card{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.card .blue{
    width: 200px;
    height:200px;
    background-color: teal;
    border-radius: 100px;
    position: absolute;
    opacity: 0.5;
    z-index:-0.5;
    top: -30px;
    right: -30px;   
}
.img{
    position: absolute;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;     
    border-radius: 20px;
}
.img img{
    width: 90%;
    height:80%;  
    margin-bottom: 0; 
    filter: drop-shadow(0 2px 2px rgb(58,53,53));    
}
.img h5{
    margin-top: 0;
    font-size: 16px;
    position: absolute;
    top:85%;
    font-family: 'Signika', sans-serif;
    color:white; 
}
.content{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.content .size{
    position: absolute;
    top:320px;
    display: flex;
    flex-direction: row;    
    align-items: center;
    padding-left:10px;
    visibility: hidden;  
    margin-top: 2px; 
}
.content .size p{
    font-size: 12px;
    font-weight: 400;
    margin-right: 8px;
    color: rgb(255, 255, 255);
    font-family: 'Lemonada', cursive;
}

.content .size .size_no{
    font-size: 10px;
    font-weight: 600;
    margin-right: 8px;    
    color: rgb(255, 255, 255);
    font-family: 'Lemonada', cursive;
}
.content .color{
    position: absolute;
    top:350px;
    display: flex;
    flex-direction: row;    
    align-items: center;  
}
.content .color p{
    font-size: 12px;
    font-weight: 600;
    margin-right: 8px;
    color: rgb(255, 255, 255);
    font-family: 'Lemonada', cursive;
}
.content .color .color_name{
    width: 8px;
    height:8px;
    border-radius: 10px;
    margin-right: 5px;    
}
.button{
    position: absolute;
    top:380px;
    display: flex;
    flex-direction: row;    
    align-items: center;   
}
.button button{
    width: 70px;
    height: 25px;
    border-radius: 4px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 10px;
    text-shadow:0 2px 2px rgb(58, 53, 53); 
    background-color: teal;
}

/* HOVERING!!!!!!!!!!!!!!!!!!!!!! */
.card:hover .blue{
    width: 300px;
    height:300px;
    border-radius: 150px;
    transform: translate(-10px,-130px);
}
.card:hover .img{    
    transform: translateY(-40px);   
}
.card:hover .img img{
    width:70%;
    height: 60%;
}
.card:hover .img h5{
    position: absolute;
    top: 75%;
    font-family: 'Signika', sans-serif;
    cursor: none;
}
.card:hover .content {
    visibility: visible;
}
.card:hover .content .size{
    top: 125px;
    visibility: visible;
}
.card:hover .content .size .size_no:hover{
    background: teal;
    margin-right:8px;
    border-radius: 5px;
    cursor: pointer;
}

.card:hover .content .color{
    top:143px;    
}
.card:hover .content .color .color_name{
    cursor: pointer;
}
.card:hover .content .button{
    top:170px; 
}
.card:hover .content .size p{
    color:white;    
    cursor: none; 
}
.card:hover .content .color p{
    color:white;
    cursor: none;
}
.card:hover .content .button button{
  
    cursor: pointer; 
}
.color_name:hover{
    transform: scale(1.5,1.5);
}
.button:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0 2px 2px rgb(58,53,53);
    border-radius: 4px;
}
nav .nav .links:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
/* HOVERING END.................. */

/* SPECIFIC.............
 CONTAINER*/
 .container{
    background-color: rgb(196, 221, 55);
    width:150px;
    height:200px;
    position: relative;   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.container #one{
    background-color: rgb(38, 156, 156);
}
.container #two{
    background-color: red;
}

.container #three{
    background-color: grey;
}

/* CONTAINER 1 */
.container1{
    background-color: rgb(50, 3, 94);
    width:150px;
    height:200px;
    position: relative;   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.container1 .card .img img{
    width: 100px;
    height:50%;  
    margin-bottom: 0; 
    filter: drop-shadow(0 2px 2px rgb(124, 121, 121)); 
}
.container1 .card .blue{   
    background-color: rgb(119, 79, 194);
}
.container1 #one{
    background-color: rgb(56, 38, 156);
}
.container1 #two{
    background-color: red;
}
.container1 .button button{
    background-color: rgb(119, 79, 194) ;
}
.container1 #three{
    background-color: grey;
}
.container1 .card:hover .content .size .size_no:hover{
    background-color:rgb(119, 79, 194)  ;
}

/* container2 */
.container2{
    background-color: rgb(167, 88, 43);
    width:150px;
    height:200px;
    position: relative;   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.container2 .card .img img{
    width: 100px;
    height:50%;  
    margin-bottom: 0; 
    filter: drop-shadow(0 2px 2px rgb(58,53,53)); 
}
.container2 .card .blue{   
    background-color: rgb(199, 115, 6);
}
.container2 #one{
    background-color: silver;
}
.container2 #two{
    background-color: red;
}
.container2 #three{
    background-color: rgb(199, 115, 6);
}
.container2 .card:hover .content .size .size_no:hover{
    background-color:rgb(119, 79, 194)  ;
}
.container2 .button button{
    background-color:  rgb(199, 115, 6) ;
}

/* CONTAINER3... */
.container3{
    background-color: rgb(247, 0, 0);
    width:150px;
    height:200px;
    position: relative;   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.container3 .card .img img{
    width: 60px;
    height:45%;  
    margin-bottom: 0; 
    filter: drop-shadow(0 2px 2px rgb(58,53,53)); 
}
.container3 .card .blue{   
    background-color: rgb(180, 0, 0);
}
.container3 .button button{
    background-color:  rgb(180, 0, 0) ;
}
.container3 #one{
    background-color: rgb(13, 5, 133);
}
.container3 #two{
    background-color: silver;
}
.container3 #three{
    background-color:BLACK
}
.container3 .card:hover .content .size .size_no:hover{
    background-color:rgb(180, 0, 0) ;
}

/* container 4 */
.container4{
    background-color: rgb(4, 16, 87);
    width:150px;
    height:200px;
    position: relative;   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.container4 .card .img img{
    width: 30px;
    height:45%;  
    margin-bottom: 0; 
    filter: drop-shadow(0 2px 2px rgb(58,53,53)); 
}
.container4 .card .blue{   
    background-color: rgb(16, 48, 230);
}
.container4 .button button{
    background-color:  rgb(16, 48, 230);
}
.container4 #one{
    background-color: rgb(32, 158, 6);
}
.container4 #two{
    background-color: rgb(199, 0, 149);
}
.container4 #three{
    background-color:rgb(0, 223, 211)
}
.container4 .card:hover .content .size .size_no:hover{
    background-color:rgb(16, 48, 230) ;
}

/* container 5 */
.container5{
    background-color: rgb(0, 0, 0);
    width:150px;
    height:200px;
    position: relative;   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.container5 .card .img img{
    width:135px;
    height:45%;  
    margin-bottom: 0; 
    filter: drop-shadow(0 2px 2px rgb(58,53,53)); 
}
.container5 .card .blue{   
    background-color: rgb(216, 219, 236);
}
.container5 .button button{
    color: black;
    background-color:  rgb(216, 219, 236);
    text-shadow:none; 
}
.container5 .card:hover .content .size .size_no:hover{
    background-color:rgb(216, 219, 236);
}

/* CONTAINER 6 */
.container6{
    background-color: rgb(193, 196, 19);
    width:150px;
    height:200px;
    position: relative;   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.container6 .card .img img{
    width: 100px;
    height:50%;  
    margin-bottom: 0; 
    filter: drop-shadow(0 2px 2px rgb(124, 121, 121)); 
}
.container6 .card .blue{   
    background-color: rgb(175, 247, 9);
}
.container6 .button button{
    background-color: rgb(175, 247, 9) ;
    color: black;
    text-shadow: none;
}
.container6 #one{
    background-color: rgb(56, 38, 156);
}
.container6 #two{
    background-color: red;
}
.container6 #three{
    background-color: grey;
}
.container6 .card:hover .content .size .size_no:hover{
    background-color:rgb(175, 247, 9) ;
  
}

/* CONTAINER 7 */
.container7{
    background-color: rgb(46, 104, 31);
    width:150px;
    height:200px;
    position: relative;   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.container7 .card .img img{
    width: 100px;
    height:45%;  
    margin-bottom: 0; 
    filter: drop-shadow(0 2px 2px rgb(214, 198, 198)); 
}
.container7 .card .blue{   
    background-color: rgb(65, 213, 107);
}
.container7 #one{
    background-color: silver;
}
.container7 #two{
    background-color: red;
}
.container7 #three{
    background-color: rgb(199, 115, 6);
}
.container7 .card:hover .content .size .size_no:hover{
    background-color:rgb(119, 79, 194)  ;
}
.container7 .button button{
    background-color:  rgb(65, 213, 107);
}
/* Responsive.... */
@media screen and (max-width:600px){
    .grid{
        width: 100%;
        max-height: 100%;
        display: grid;
        grid-template-columns: 150px;
        grid-row-gap: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 50px;
    }
    header{
        background-color: rgb(219, 212, 212);
        font-size: 12px;
        font-weight: 400;
        position: sticky;
        top: 0;
        z-index: 1;                  
    }
    .nav{
        display: none;
    }
}
@media screen and (max-width:400px){
    .grid{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 150px;
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 110px;
    }

    header{
        background-color: rgb(219, 212, 212);
        font-size: 12px;
        font-weight: 400;
        position: sticky;
        top: 0;
        z-index: 1;    
    }
    .nav{
        display: none;
    }
}